@import "colors_const";
@import "fonts-size_const";

/* Стили для позиционирования и кастомизации элементов только в Style Guide */

.section-markup-wrapper .btn {
  margin: 5px;
}

/* Стили, которые применяются на проекте */

.btn {
  background: none;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.428571429;
  margin-bottom: 0;
  user-select: none;
  touch-action: manipulation;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn.active.focus {
  outline: thin dotted;
  outline-offset: -2px;
}

.btn:hover, .btn.hover, .btn:focus, .btn.focus {
  color: $color_gray20;
  text-decoration: none;
}

.btn:active, .btn.active {
  background: none;
  box-shadow: inset 0 3px 5px $color_gray_light;
  outline: 0;
}

.btn.disabled, .btn-default {
  background: $color_white;
  border-color: $color_gray80;
  color: $color_gray20;
}

.btn-link, .btn-link:hover, .btn-link:focus {
  background: transparent;
  color: $color_blue;
  text-decoration: underline;
}

.btn-lg {
  border-radius: 6px;
  font-size: $font_size_18px;
  line-height: 1.3333333;
  padding: 10px 16px;
}

.btn-sm {
  border-radius: 3px;
  font-size: $font_size_12px;
  line-height: 1.5;
  padding: 5px 10px;
}

.btn-xs {
  border-radius: 3px;
  font-size: $font_size_12px;
  line-height: 1.5;
  padding: 1px 5px;
}

.focus {
  outline: -webkit-focus-ring-color auto 5px;
}

//Кнопки
//
//markup:
//<h4>Этот раздел описывает используемые в проекте кнопки, их поведение и цветовые решения</h4>
//
//Styleguide 5.0

//btn-success
//
//markup:
//<button class="btn btn-success">btn-success</button>
//<button class="btn btn-success hover">btn-success:hover</button>
//<button class="btn btn-success focus">btn-success:focus</button>
//<button class="btn btn-success active">btn-success:active</button>
//<button class="btn btn-success disabled">btn-success.disabled</button>
//<button class="btn btn-success btn-link">btn-success.btn-link</button>
//<button class="btn btn-success btn-lg">btn-success.btn-lg</button>
//<button class="btn btn-success btn-sm">btn-success.btn-sm</button>
//<button class="btn btn-success btn-xs">btn-success.btn-xs</button>
//
//Styleguide 5.1

.btn-success {
  background: $color_green_main;
  border-color: $color_green_main;
  color: $color_white;
}

.btn-success:hover, .btn-success.hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active {
  background: $color_green_darken;
  border-color: $color_green_darken;
  color: $color_white;
}

.btn-success.disabled {
  background: $color_white;
  color: $color_green_main;
}

//btn-danger
//
//markup:
//<button class="btn btn-danger">btn-danger</button>
//<button class="btn btn-danger hover">btn-danger:hover</button>
//<button class="btn btn-danger focus">btn-danger:focus</button>
//<button class="btn btn-danger active">btn-danger:active</button>
//<button class="btn btn-danger disabled">btn-danger.disabled</button>
//<button class="btn btn-danger btn-link">btn-danger.btn-link</button>
//<button class="btn btn-danger btn-lg">btn-danger.btn-lg</button>
//<button class="btn btn-danger btn-sm">btn-danger.btn-sm</button>
//<button class="btn btn-danger btn-xs">btn-danger.btn-xs</button>
//
//Styleguide 5.2

.btn-danger {
  background: $color_raspberries;
  border-color: $color_red;
  color: $color_white;
}

.btn-danger:hover, .btn-danger.hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
  background: $color_red;
  border-color: $color_red;
  color: $color_white;
}

.btn-danger.disabled {
  background: $color_white;
  color: $color_scarlet;
}

//btn-default
//
//markup:
//<button class="btn btn-default">btn-default</button>
//<button class="btn btn-default hover">btn-default:hover</button>
//<button class="btn btn-default focus">btn-default:focus</button>
//<button class="btn btn-default active">btn-default:active</button>
//<button class="btn btn-default disabled">btn-default.disabled</button>
//<button class="btn btn-default btn-link">btn-default.btn-link</button>
//<button class="btn btn-default btn-lg">btn-default.btn-lg</button>
//<button class="btn btn-default btn-sm">btn-default.btn-sm</button>
//<button class="btn btn-default btn-xs">btn-default.btn-xs</button>
//
//Styleguide 5.3

.btn-default:hover, .btn-default.hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  background: $color_gray_light;
  border-color: $color_gray60;
  color: $color_gray20;
}

.btn-default.disabled {
  background: $color_gray20;
  color: $color_white;
}

//btn-primary
//
//markup:
//<button class="btn btn-primary">btn-primary</button>
//<button class="btn btn-primary hover">btn-primary:hover</button>
//<button class="btn btn-primary focus">btn-primary:focus</button>
//<button class="btn btn-primary active">btn-primary:active</button>
//<button class="btn btn-primary disabled">btn-primary.disabled</button>
//<button class="btn btn-primary btn-link">btn-primary.btn-link</button>
//<button class="btn btn-primary btn-lg">btn-primary.btn-lg</button>
//<button class="btn btn-primary btn-sm">btn-primary.btn-sm</button>
//<button class="btn btn-primary btn-xs">btn-primary.btn-xs</button>
//
//Styleguide 5.4

.btn-primary {
  background: $color_blue_light;
  border-color: $color_blue_light;
  color: $color_white;
}

.btn-primary.disabled, .btn-primary .badge {
  background: $color_white;
  color: $color_blue_light;
}

//btn-info
//
//markup:
//<button class="btn btn-info">btn-info</button>
//<button class="btn btn-info hover">btn-info:hover</button>
//<button class="btn btn-info focus">btn-info:focus</button>
//<button class="btn btn-info active">btn-info:active</button>
//<button class="btn btn-info disabled">btn-info.disabled</button>
//<button class="btn btn-info btn-link">btn-info.btn-link</button>
//<button class="btn btn-info btn-lg">btn-info.btn-lg</button>
//<button class="btn btn-info btn-sm">btn-info.btn-sm</button>
//<button class="btn btn-info btn-xs">btn-info.btn-xs</button>
//
//Styleguide 5.5

.btn-info {
  background: $color_blue_light;
  border-color: $color_blue;
  color: $color_white;
}

.btn-info:active, .btn-info.active {
  background: none;
}

.btn-info.disabled {
  background: $color_white;
  color: $color_blue_light;
}

//btn-warning
//
//markup:
//<button class="btn btn-warning">btn-warning</button>
//<button class="btn btn-warning hover">btn-warning:hover</button>
//<button class="btn btn-warning focus">btn-warning:focus</button>
//<button class="btn btn-warning active">btn-warning:active</button>
//<button class="btn btn-warning disabled">btn-warning.disabled</button>
//<button class="btn btn-warning btn-link">btn-warning.btn-link</button>
//<button class="btn btn-warning btn-lg">btn-warning.btn-lg</button>
//<button class="btn btn-warning btn-sm">btn-warning.btn-sm</button>
//<button class="btn btn-warning btn-xs">btn-warning.btn-xs</button>
//
//Styleguide 5.6

.btn-warning {
  background: $color_orange;
  border-color: $color_orange;
  color: $color_white;
}

.btn-warning:active, .btn-warning.active {
  background: none;
}

.btn-warning.disabled {
  background: $color_white;
  color: $color_orange;
}




