/*Используемые размеры шрифта*/
$font_size_default: 16px;// он же 1rem
$font_size_10px: 10px;
$font_size_12px: 12px;
$font_size_13px: 13px;
$font_size_14px: 14px;
$font_size_18px: 18px;
$font_size_20px: 20px;
$font_size_24px: 24px;
$font_size_28px: 28px;
$font_size_36px: 36px;
$font_size_40px: 40px;